{% extends 'comercio/base.html' %}

{% block title %}Eliminar Plato Semanal{% endblock %}

{% block content %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #EAEAEA;
        margin: 0;
        padding: 20px;
    }
    h2 {
        color: #ff9e1b;
        text-align: center;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    button {
        background-color: #ff9e1b;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 5px;
        font-size: 16px;
        margin-top: 10px;
    }
    button:hover {
        background-color: #e68a00;
    }
    .centro {
        display: flex;
        justify-content: center;
        margin-top: 20px; /* Espacio para separar del formulario */
    }
    a.cancelar {
        background-color: red; /* Color de fondo rojo */
        color: white; /* Color del texto */
        padding: 10px 20px; /* Espaciado interno */
        border-radius: 5px; /* Bordes redondeados */
        text-decoration: none; /* Sin subrayado */
        font-size: 16px; /* Tamaño de fuente */
        margin-top: 10px; /* Margen superior */
        transition: background-color 0.3s; /* Transición suave para hover */
    }
    a.cancelar:hover {
        background-color: darkred; /* Color al hacer hover */
    }
</style>

<h2>¿Estás seguro de que quieres eliminar {{ plato_semanal.plato.nombre }}?</h2>
<form method="post">
    {% csrf_token %}
    <button type="submit">Confirmar Eliminación</button>
</form>
<div class="centro">
    <a class="cancelar" href="{% url 'lista_platos_semanales' %}">Cancelar</a>
</div>

{% endblock %}