<nav>
    <ul>
        {% if user.is_authenticated %}
        <li>
            <a href="/cerrar">Cerrar sesión</a>
        </li>
        {% else %}
        <div class="message">No estás registrado, clic en el botón azul para registrarte!</div>
        <h1 class="title">Iniciar Sesión</h1>
        {% endif %}
    </ul>

</nav>

{% block content %}


    <!-- Logo en el header -->
    <div class="nav-logo">
        <img src="/media/platos/logo2.png" alt="Logo">
    </div>

<div class="form-container">
    {{ error }}
    <form action="/iniciar/" method="POST">
        {% csrf_token %}
        
        {{ form.as_p }}
        
        <button class="btn btn-success">
            Iniciar Sesión
        </button>        
    </form>
    <!-- botón de registro -->
    <a href="/registro" class="btn-link">
        <button class="btn btn-register">
            Registrarse
        </button>
    </a>
    <!-- botón de registro -->
</div>

<style>
    nav {
        background-color: #f8f9fa;
        padding: 10px;
        text-align: right;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        display: inline;
        margin-left: 20px;
    }

    .message {
        color: #dc3545;
        text-align: left;
        margin-top: 15px;
    }

    .title {
        text-align: center;
        color: #ff9e1b;
        margin-top: 20px;
    }

    .form-container {
        max-width: 400px;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .btn {
        border: none;
        padding: 10px 15px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        width: 100%;
        margin-top: 10px;
    }

    .btn-success {
        background-color: #28a745;
        color: white;
    }

    .btn-register {
        background-color: #284ca7;
        color: white;
    }

    .btn-link {
        text-decoration: none;
    }

    .btn:hover {
        opacity: 0.9;
    }

        /* Estilos para la imagen */
        .nav-logo {
            display: flex;
            justify-content: center;
            margin-bottom: 20px; /* Espacio debajo de la imagen */
        }

        .nav-logo img {
            max-width: 300px; /* Ajusta el tamaño máximo de la imagen */
             
            transition: transform 0.3s ease; /* Transición suave para animaciones */
        }

        .nav-logo img:hover {
            transform: scale(1.1); /* Agranda ligeramente la imagen al pasar el ratón */
        }




</style>

{% endblock %}