<nav>
    <ul>
        {% if user.is_authenticated %}
        <li>
            <a href="/cerrar">Cerrar sesión</a>
        </li>
        {% else %}
        <div class="message">No estás registrado, clic en el botón azul para registrarte!</div>
        <h1 class="title">Iniciar Sesión</h1>
        {% endif %}
    </ul>
</nav>

{% block content %}

<!-- Logo en el header -->
<div class="nav-logo">
    <img src="/media/platos/logo2.png" alt="Logo">
</div>

<div class="form-container">
    {{ error }}
    <form action="/iniciar/" method="POST">
        {% csrf_token %}
        
        {% load widget_tweaks %}  <!-- Se carga el tag widget_tweaks -->

        <div class="form-group">
            <input type="text" name="username" placeholder="Nombre de Usuario" class="form-control" required>
            {% for error in form.username.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        </div>
        
        <div class="form-group">
            <input type="password" name="password" placeholder="Contraseña" class="form-control" required>
            {% for error in form.password.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        </div>
        
        <div class="button-container">
            <button class="btn btn-success">
                Iniciar Sesión
            </button>
        </div>
    </form>
    
    <!-- botón de registro -->
    <div class="button-container">
        <a href="/registro" class="btn-link">
            <button class="btn btn-register">
                Registrarse
            </button>
        </a>
    </div>
</div>

<style>
    nav {
        background-color: #f8f9fa;
        padding: 10px;
        text-align: right;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        display: inline;
        margin-left: 20px;
    }

    .message {
        color: #dc3545;
        text-align: left;
        margin-top: 15px;
    }

    .title {
        text-align: center;
        color: #ff9e1b;
        margin-top: 20px;
    }

    .form-container {
        max-width: 400px;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .form-group {
        margin-bottom: 15px;
    }

    .form-control {
        width: 100%;  /* Asegura que el campo ocupe todo el ancho disponible */
        padding: 10px;  /* Añade un poco de padding para mejor apariencia */
        border: 1px solid #ccc;  /* Agrega un borde */
        border-radius: 5px;  /* Bordes redondeados */
    }

    .button-container {
        text-align: center;  /* Centra los botones */
    }

    .btn {
        border: none;
        padding: 10px 0;  /* Aumentar el padding vertical */
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        width: 40%;  /* Reduce el ancho del botón al 40% */
        margin-top: 10px;
        font-size: 1em;  /* Tamaño de fuente */
    }

    .btn-success {
        background-color: #28a745;
        color: white;
        padding-top: 10px;  /* Aumenta el padding superior un 10% */
        padding-bottom: 10px;  /* Aumenta el padding inferior un 10% */
    }

    .btn-register {
        background-color: #284ca7;
        color: white;
        padding-top: 10px;  /* Aumenta el padding superior un 10% */
        padding-bottom: 10px;  /* Aumenta el padding inferior un 10% */
    }

    .btn-link {
        text-decoration: none;
    }

    .btn:hover {
        opacity: 0.9;
    }

    /* Estilos para la imagen */
    .nav-logo {
        display: flex;
        justify-content: center;
        margin-bottom: 20px; /* Espacio debajo de la imagen */
    }

    .nav-logo img {
        max-width: 300px; /* Ajusta el tamaño máximo de la imagen */
        transition: transform 0.3s ease; /* Transición suave para animaciones */
    }

    .nav-logo img:hover {
        transform: scale(1.1); /* Agranda ligeramente la imagen al pasar el ratón */
    }

    .error {
        color: red; /* Color para errores de validación */
        font-size: 0.9em; /* Tamaño de fuente más pequeño */
    }
</style>

{% endblock %}