{% block conten %}
<h1 style="text-align: center; color: #ff9e1b;">Registro</h1>
<div style="max-width: 400px; margin: 20px auto; padding: 20px; background-color: #fff; border-radius: 8px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);">
    {{ error }}
    <form action="/registro/" method="POST">
        {% csrf_token %}
        
        {{ form.as_p }}
        
        <button style="background-color: #28a745; color: white; border: none; padding: 10px 15px; border-radius: 5px; cursor: pointer; transition: background-color 0.3s;">
            Registrarse
        </button>
    </form>
</div>

<div class="container mt-5" style="text-align: center;">
    <h1 style="color: #ff9e1b;">Volver al inicio</h1>
    <a href="{% url 'iniciar_sesion' %}" class="btn" style="background-color: #28a745; color: white; border: none; padding: 10px 15px; border-radius: 5px; cursor: pointer; transition: background-color 0.3s; text-decoration: none; display: inline-block;">
        Regresar
    </a>
</div>
{% endblock %}